<img src={{model.image}} alt={{model.title}} />
{{model.title}}
{{model.author}}
{{model.body}}
{{model.tags}}
{{model.category}}

{{create-comment postComment="postComment" article=model}}

{{#each model.comments as |comment|}}
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-sm" {{action "deleteComment" comment}}>Delete </button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-sm" {{action "updateComment" comment}}>Update </button>
    </div>
    <div class="col-md-10">
      <h4>{{comment.user}}</h4>
      <h5>{{comment.commentBody}}</h5>
    </div>
  </div>

{{/each}}
